development:
  adapter: postgresql
  encoding: unicode
  database: mesh_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: mesh_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: mesh_production
  pool: 5
  username:
  password: